

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	padding-top: 50px;
	padding-bottom: 20px;
}

#comercial-header,
#featured,
#jogos {
	margin-top: 20px;
}

.jogo {
	background-color: #282c33;
	color: white;
	margin: 0px;
}

.jogo > div {
	padding-top: 10px;
}

















